@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #25242a;
    color: #ddd;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: 'Sora', sans-serif;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right, .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right > div, .left > div {
    width: 100%;
    height: 30%;
    font-size: 1.8rem;
    color: #25242a;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right > div + div, .left > div + div {
    height: 70%;
    background-color: #25242a;
}

.score-board-container {
    height: 50%;
    width: 80%;
    background-color: #ddd;
    color: #25242a;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 2px #ccc;
}

.player-name{
    height: 30%;
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-score{
    height: 70%;
    width: 100%;
    font-size: 6.5rem;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #660600;
}

.top1 > div, .top2 > div {
    height: 100%;
    width: 100%;
    background-color: #ddd;
    color: #25242a;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top1 > div > i, .top2 > div > i {
    padding-left: 8px;
    cursor: pointer;
    color: #660600;
}

.center {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    align-items: center;
}

.center > div {
    width: 85%;
    height: 85%;
    border-radius: 0.375rem;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center-container > div{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-container > div + div {
    height: 20%;
}

.restart-button {
    height: 40%;
    width: 50%;
    border-radius: 0.375rem;
    background-color: #25242a;
    color: #ddd;
    font: inherit;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}
.restart-button:hover {
    color: #660600;
    border: 1px solid #660600;
}

.grid{
    height: 80%;
    width: 80%;
    background-color: #25242a;
    border-radius: 0.375rem;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
}

.grid > div {
    border: 1px solid #ddd;
    transition: all 0.2s ease;
    font: inherit;
    font-size: 3.5rem;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid > div:hover {
    transform: scale(1.03);
    background-color: #660600;
}

.winning-screen-container, .choose-name {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-screen-container > div, .choose-name > div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-screen-content {
    height: 60%;
    width: 60%;
    background-color: #ddd;
    color: #25242a;
    border-radius: 0.275rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.winning-screen-content > p + p {
    font-size: 1.4rem;
    padding-top: 2%;
}

.winning-screen-content > button {
    height: 10%;
    width: 30%;
    border-radius: 0.275rem;
    background-color: #660600;
    color: #ddd;
    cursor: pointer;
    font: inherit;
    margin-top: 3%;
    font-size: 1.3rem;
}

.player-input{
    height: 20%;
    border-radius: 0.375rem 0 0 0.375rem;
    border: none;
    font: inherit;
    font-size: 1rem;
    padding: 5px;
}

.player-button {
    height: 23%;
    width: 15%;
    border-radius: 0 0.375rem 0.375rem 0;
    border: none;
    background-color: #660600;
    color: #ddd;
    cursor: pointer;
    font: inherit;
    font-size: 1rem;
}

.choose-name-content {
    height: 60%;
    width: 60%;
    background-color: #ddd;
    color: #25242a;
    border-radius: 0.275rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
}

.joueur1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.joueur1 > p {
    font-size: 1.8rem;
    color: rgba(102,6,0, 0.7);
}
.joueur1 > input, .joueur2 > input {
    height: 30px;
    width: 30%;
    font: inherit;
    border-radius: 0.375rem;
    padding: 4px;
    border: none;
    font-size: 1.3rem;
}

.joueur2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(102,6,0, 0.7);
    
}

.joueur2 > p {
    font-size: 1.8rem;
    color: #ddd;
}

.name-button-container {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-button-container > button, .revenge {
    height: 50%;
    width: 30%;
    border-radius: 0.375rem;
    background-color: #fff;
    color: #25242a;
    font: inherit;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}